<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>binauralVolumeTitle</string>
			<key>Title</key>
			<string>Binaural Volume</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>Key</key>
			<string>binauralVolume</string>
			<key>MaximumValue</key>
			<integer>100</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>Title</key>
			<string>Binaural Volume</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>rain.mp3</string>
			<key>Key</key>
			<string>ambientProgram</string>
			<key>Title</key>
			<string>Ambient Program</string>
			<key>Titles</key>
			<array>
				<string>Rain</string>
				<string>Ocean</string>
				<string>Forest</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>rain.mp3</string>
				<string>ocean.m4a</string>
				<string>forest.m4a</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>ambientVolumeTitle</string>
			<key>Title</key>
			<string>Ambient Volume</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>Key</key>
			<string>ambientVolume</string>
			<key>MaximumValue</key>
			<integer>100</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>Title</key>
			<string>Ambient Volume</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>toneVolumeTitle</string>
			<key>Title</key>
			<string>Tone Volume</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>Key</key>
			<string>toneVolume</string>
			<key>MaximumValue</key>
			<integer>100</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>Title</key>
			<string>Tone Volume</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
