<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EC4CA46E8844E1994E773E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13409329459045AD858B6520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>155DDBF1CEA2407C8F399BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0E3340CEEF4A69B533662E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6F5F88AD5845428BABB6C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20C0DB74913C471490424977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>249A5D1222234C96A28EEA7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3201D13BE4134FF1A2EC6D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33B261C8FD924DB591700821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4941974DC8F84190B2942F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5779D772488F436BB7844532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B1393B7D1DA4DAC804816EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C62EE97BD984B929A98681D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F94935CD4794DB0BAA19C76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E5BB7CA87A427EB9B7CDAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6490BE6F7BBC4D6DAA112895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C2EC589441D44939214F54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFC6946DD3649AD823E7E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>704951DF627C4698A1BCC108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8525E1A1DD4E4A78BD0DCF90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8833CEE16D8F4E75A8F95CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9391AB9ADADF41D9B48D4192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94CF1A0624584A9A95BE2D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A41FFFD711A540A9AE99A645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA628F62310B496D9F1AAF22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1B944C4A56042C6A9275237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D52F4285C7394BAE86750734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D57B0789B71A49F497D0B8FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB9B1526E0B04D22A2FB861D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C4A6B3E81F4B3AA555189A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECE4F0F3473946A98A776FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3E82F87009E4A58BA423DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8E4039DE8894A7084F10C0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
